.bottom {
		position: fixed;
		bottom: 0; 
		; }
<!--
.tab { margin-left: 40px; }
-->

ul	{ font-wieght: bold;}
h2 { border: 5px solid #ff0000;
	background-color: #2f72d0;
	color: #ffffff}
h1 { border: 5px solid #ff0000;
	background-color:#2f72d0;
	width: ;
	color: #ffffff }
img {  border: 5px solid #ff0000;
	background-color:#2f72d0; 
	}
p { color: #ffffff }
li { color: #ffffff }
body{
background-image:url('flag.gif');
background-position: center;
background-size: cover;
}
p { border: 5px solid #ff0000;
	background-color:#2f72d0;
	color: #ffffff }
nav a { text-decoration: none; 
	}
nav a { color: #ffffff 
	}
